<div class="paginator">

  <button mat-button (click)="lastPage()">
    <i class="material-icons">
      keyboard_arrow_left
    </i>
  </button>

  <span *ngFor="let vpage of pagesNumber" [ngClass]="isThisPage(vpage)" (click)="changePage(vpage)">
    {{vpage}}
  </span>

  <button mat-button (click)="nextPage()">
    <i class="material-icons">
      keyboard_arrow_right
    </i>
  </button>

  <br>

  <span> друзей на странице :</span>
  <mat-form-field class="pagesCounter">
    <mat-select [(ngModel)]="prevPages" (change)="changePageCount()">
      <mat-option *ngFor="let page of prevCount" [value]="page">
        {{page}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
