<mat-card class="search-panel">
  <mat-form-field class="search">
    <input matInput type="search" placeholder="Поиск" [formControl]="searchField">
  </mat-form-field>
  <!--<mat-form-field>-->
  <!--<mat-select [(value)]="paramSelect">-->
  <!--<mat-option>None</mat-option>-->
  <!--<mat-option value="firstName">Имя</mat-option>-->
  <!--<mat-option value="lastName">Фамилия</mat-option>-->
  <!--</mat-select>-->
  <!--</mat-form-field>-->
</mat-card>

<div *ngIf="users&&!load">
  <div *ngFor="let user of users">
    <mat-card class="card" (click)="toProfile(user.id)">
      <app-user [user]="user"></app-user>
    </mat-card>
  </div>
</div>

<div *ngIf="!users||load">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<div class="pagination" *ngIf="users&&!load">
  <app-pagination [items]="friendsCount" [page]="page" (sendPageCount)="changeFriendsCount($event)"
                  (nowPage)="changePage($event)"></app-pagination>
</div>

