.card {
  min-width: 500px;
  margin: 2% 25% 2% 25%
}

.card:hover {
  opacity: 0.7;
}
.card:active{
  opacity: 1;
}

.search{
  width: 50%;
  margin: 0  0 0 20%;
}

.pagination{
 text-align: center;
}
