<mat-card class="search-panel">
  <mat-form-field class="search">
    <input matInput type="search" placeholder="Поиск" [formControl]="searchField">
  </mat-form-field>
  <mat-form-field>
    <mat-select [(value)]="paramSelect" (change)="filter()">
      <mat-option>None</mat-option>
      <mat-option value="first_name">Имя</mat-option>
      <mat-option value="last_name">Фамилия</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<button (click)="filterFriends()">  Клик </button>

<div *ngIf="users&&!load">
  <div *ngFor="let user of users">
    <mat-card class="card" (click)="toProfile(user.id)">
      <app-user [user]="user"></app-user>
    </mat-card>
  </div>
</div>

<div *ngIf="!users||load">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<div class="pagination">
  <mat-paginator [length]="friendsCount"
                 [pageSize]="friendsOnPage"
                 [pageSizeOptions]="friendsOnPageOptions"
                 (page)="paginatorEvent($event)">
  </mat-paginator>
</div>

